# Basics

Import libraries and functions.

</p>Search for archives, and create the 1st data frame, as well as an empty list for the headers (h) and the list for comun columns (CC)

In [1]:
import pandas as pd
import numpy as np
import glob
from functools import reduce
folder_path = 'C:/Users/amarchve/Desktop/Data'
file_list = glob.glob(folder_path + "/**(Normalized).csv")
CC=['Area','Year','Element','Unit','Value']

# Headers

Test run for loop of headers

In [7]:
h=[]
for i in range(1,10):
    data = pd.DataFrame(pd.read_csv(file_list[i],sep=',' , encoding='latin-1',low_memory=False), columns=CC)
    header=data.columns
    h.append(header)
h

[Index(['Area', 'Year', 'Element', 'Unit', 'Value'], dtype='object'),
 Index(['Area', 'Year', 'Element', 'Unit', 'Value'], dtype='object'),
 Index(['Area', 'Year', 'Element', 'Unit', 'Value'], dtype='object'),
 Index(['Area', 'Year', 'Element', 'Unit', 'Value'], dtype='object'),
 Index(['Area', 'Year', 'Element', 'Unit', 'Value'], dtype='object'),
 Index(['Area', 'Year', 'Element', 'Unit', 'Value'], dtype='object'),
 Index(['Area', 'Year', 'Element', 'Unit', 'Value'], dtype='object'),
 Index(['Area', 'Year', 'Element', 'Unit', 'Value'], dtype='object'),
 Index(['Area', 'Year', 'Element', 'Unit', 'Value'], dtype='object')]

In [8]:
h=[]
for i in range(1,10):
    data = pd.DataFrame(pd.read_csv(file_list[i],sep=',' , encoding='latin-1',low_memory=False), columns=['Area','Year','Element','Unit','Value'])
    header=data.columns
    h.append(header)
h

[Index(['Area', 'Year', 'Element', 'Unit', 'Value'], dtype='object'),
 Index(['Area', 'Year', 'Element', 'Unit', 'Value'], dtype='object'),
 Index(['Area', 'Year', 'Element', 'Unit', 'Value'], dtype='object'),
 Index(['Area', 'Year', 'Element', 'Unit', 'Value'], dtype='object'),
 Index(['Area', 'Year', 'Element', 'Unit', 'Value'], dtype='object'),
 Index(['Area', 'Year', 'Element', 'Unit', 'Value'], dtype='object'),
 Index(['Area', 'Year', 'Element', 'Unit', 'Value'], dtype='object'),
 Index(['Area', 'Year', 'Element', 'Unit', 'Value'], dtype='object'),
 Index(['Area', 'Year', 'Element', 'Unit', 'Value'], dtype='object')]

*Therefore using a predetermined list is a way faster than typing the columns*

Loop to assure headers are equal - Discarded

In [12]:
for i in range (0,14):
    if len(h[i])==len(h[i+1]):
        if h[i]==h[i+1]:
            print ('True')
        else:
            print ('false')
    else:
        print('False')

False
False
False
False
False

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

Loop for a list of all the headers

In [6]:
for i in range(1,len(file_list)):
    data = pd.DataFrame(pd.read_csv(file_list[i],sep=',' , encoding='latin-1',low_memory=False))
    header=data.columns
    h.append(header)
h

# Concat union

Test run for the loop of concated data frames

In [12]:
main_dataframe = pd.DataFrame(pd.read_csv(file_list[0], sep=',', encoding='latin-1'),columns=CC)
for i in range(1,5):
    df = pd.DataFrame(pd.read_csv(file_list[i],sep=',' , encoding='latin-1',low_memory=False), columns=CC)
    main_dataframe = pd.concat([main_dataframe, df])

main_dataframeC=main_dataframe

Loop for concat the dataframes, and create a unique DF (Executing time, unknown,but > 30min)

In [18]:
for i in range(1,len(file_list)):
    df = pd.DataFrame(pd.read_csv(file_list[i],sep=',' , encoding='latin-1',low_memory=False), columns=CC)
    main_dataframe = pd.concat([main_dataframe, df])

main_dataframe

# Merge union

Test loop of merge instead of append.

In [2]:
main_dataframe = pd.DataFrame(pd.read_csv(file_list[0], sep=',', encoding='latin-1'),columns=CC)
for i in range(1,5):
    df = pd.DataFrame(pd.read_csv(file_list[i],sep=',' , encoding='latin-1',low_memory=False), columns=CC)
    main_dataframe = pd.merge(left=main_dataframe, right=df , how='left', on= ['Area','Year'])
main_dataframe

C:\Users\amarchve\AppData\Local\Temp\ipykernel_11464\2898014445.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Element_x', 'Unit_x', 'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  main_dataframe = pd.merge(left=main_dataframe, right=df , how='left', on= ['Area','Year'])

,Area,Year,Element_x,Unit_x,Value_x,Element_y,Unit_y,Value_y,Element_x,Unit_x,Value_x,Element_y,Unit_y,Value_y,Element,Unit,Value
0,Algeria,2009,"Share of Value Added (Agriculture, Forestry an...",%,0.18,"Researchers, total",FTE,510.3,Import Quantity,tonnes,2771.0,NaN,NaN,69.503120,"Value Local Currency, 2015 prices",LCU,72.7492
1,Algeria,2009,"Share of Value Added (Agriculture, Forestry an...",%,0.18,"Researchers, total",FTE,510.3,Import Quantity,tonnes,2771.0,NaN,NaN,69.503120,"Value US$, 2015 prices",US$,100.8325
2,Algeria,2009,"Share of Value Added (Agriculture, Forestry an...",%,0.18,"Researchers, total",FTE,510.3,Import Quantity,tonnes,2771.0,NaN,NaN,69.503120,"Value Local Currency, 2015 prices",LCU,77.8007
3,Algeria,2009,"Share of Value Added (Agriculture, Forestry an...",%,0.18,"Researchers, total",FTE,510.3,Import Quantity,tonnes,2771.0,NaN,NaN,69.503120,"Value US$, 2015 prices",US$,107.8340
4,Algeria,2009,"Share of Value Added (Agriculture, Forestry an...",%,0.18,"Researchers, total",FTE,510.3,Import Quantity,tonnes,2771.0,NaN,NaN,69.503120,"Value Local Currency, 2015 prices",LCU,71.0064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99495815,Zimbabwe,2016,"Spending, total",million PPP (constant 2011 prices),41.60,"Per 100,000 farmers",FTE,6.5,NaN,NaN,NaN,NaN,%,-0.899281,"Value US$, 2015 prices",US$,100.5032
99495816,Zimbabwe,2016,"Spending, total",million PPP (constant 2011 prices),41.60,"Per 100,000 farmers",FTE,6.5,NaN,NaN,NaN,NaN,%,-0.899281,"Value Local Currency, 2015 prices",LCU,101.7875
99495817,Zimbabwe,2016,"Spending, total",million PPP (constant 2011 prices),41.60,"Per 100,000 farmers",FTE,6.5,NaN,NaN,NaN,NaN,%,-0.899281,"Value US$, 2015 prices",US$,101.7875
99495818,Zimbabwe,2016,"Spending, total",million PPP (constant 2011 prices),41.60,"Per 100,000 farmers",FTE,6.5,NaN,NaN,NaN,NaN,%,-0.899281,"Value Local Currency, 2015 prices",LCU,99.8458
99495819,Zimbabwe,2016,"Spending, total",million PPP (constant 2011 prices),41.60,"Per 100,000 farmers",FTE,6.5,NaN,NaN,NaN,NaN,%,-0.899281,"Value US$, 2015 prices",US$,99.8458

In [8]:
for i in range(1,len(file_list)):
    data = pd.read_csv(file_list[i],sep=',' , encoding='latin-1',low_memory=False)
    df = pd.DataFrame(data)
    main_dataframe = pd.merge(left=main_dataframe, right=df , how='left')
   
main_dataframe

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

# Crazy ideas

Test run for loop of merge & lambda instead of append.
With a creation of a list of all the df, and merging them all together

In [ ]:
df_list=[main_dataframe]  
for i in range(1,10):
     df = pd.DataFrame( pd.read_csv(file_list[i],sep=',' , encoding='latin-1',low_memory=False))
     df_list.append(df)
merged_df = reduce(lambda l, r: pd.merge(l, r, on='Area' & 'Year', how='inner'), df_list)
merged_df