In [216]:
pip install pandas

Requirement already satisfied: pandas in c:\users\msanchis\appdata\local\programs\python\python310\lib\site-packages (1.4.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\msanchis\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\msanchis\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\msanchis\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in c:\users\msanchis\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'c:\Users\msanchis\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [217]:
import pandas as pd
import numpy as np

In [218]:
import os
os.getcwd()

'c:\\Users\\msanchis\\Documents'

In [219]:
df=pd.read_csv('c:\\Users\\msanchis\\Documents\\Microsoft VS Code\\maddison-data-gdp-per-capita-in-2011us.csv')

In [220]:
print(df)

            Entity Code  Year  GDP per capita 417485-annotations
0      Afghanistan  AFG  1950     1156.000000                NaN
1      Afghanistan  AFG  1951     1170.000000                NaN
2      Afghanistan  AFG  1952     1189.000000                NaN
3      Afghanistan  AFG  1953     1240.000000                NaN
4      Afghanistan  AFG  1954     1245.000000                NaN
...            ...  ...   ...             ...                ...
19871     Zimbabwe  ZWE  2014     1594.000000                NaN
19872     Zimbabwe  ZWE  2015     1560.000000                NaN
19873     Zimbabwe  ZWE  2016     1534.000000                NaN
19874     Zimbabwe  ZWE  2017     1582.366211                NaN
19875     Zimbabwe  ZWE  2018     1611.405151                NaN

[19876 rows x 5 columns]

In [221]:
df.drop('417485-annotations',inplace=True, axis=1)

In [222]:
print("\nCSV df after deleting the column '417485-annotations':\n") 
print(df)

CSV df after deleting the column '417485-annotations':

            Entity Code  Year  GDP per capita
0      Afghanistan  AFG  1950     1156.000000
1      Afghanistan  AFG  1951     1170.000000
2      Afghanistan  AFG  1952     1189.000000
3      Afghanistan  AFG  1953     1240.000000
4      Afghanistan  AFG  1954     1245.000000
...            ...  ...   ...             ...
19871     Zimbabwe  ZWE  2014     1594.000000
19872     Zimbabwe  ZWE  2015     1560.000000
19873     Zimbabwe  ZWE  2016     1534.000000
19874     Zimbabwe  ZWE  2017     1582.366211
19875     Zimbabwe  ZWE  2018     1611.405151

[19876 rows x 4 columns]

In [223]:
df_in_years= df.loc[df["Year"]>=1988]
print(df_in_years)

            Entity Code  Year  GDP per capita
38     Afghanistan  AFG  1988     1101.000000
39     Afghanistan  AFG  1989      999.000000
40     Afghanistan  AFG  1990      963.000000
41     Afghanistan  AFG  1991      881.170410
42     Afghanistan  AFG  1992      843.875305
...            ...  ...   ...             ...
19871     Zimbabwe  ZWE  2014     1594.000000
19872     Zimbabwe  ZWE  2015     1560.000000
19873     Zimbabwe  ZWE  2016     1534.000000
19874     Zimbabwe  ZWE  2017     1582.366211
19875     Zimbabwe  ZWE  2018     1611.405151

[5289 rows x 4 columns]

In [224]:

df ["diffGDP"] = df ["GDP per capita"] .diff(-1)
print(df)

            Entity Code  Year  GDP per capita    diffGDP
0      Afghanistan  AFG  1950     1156.000000 -14.000000
1      Afghanistan  AFG  1951     1170.000000 -19.000000
2      Afghanistan  AFG  1952     1189.000000 -51.000000
3      Afghanistan  AFG  1953     1240.000000  -5.000000
4      Afghanistan  AFG  1954     1245.000000  -1.000000
...            ...  ...   ...             ...        ...
19871     Zimbabwe  ZWE  2014     1594.000000  34.000000
19872     Zimbabwe  ZWE  2015     1560.000000  26.000000
19873     Zimbabwe  ZWE  2016     1534.000000 -48.366211
19874     Zimbabwe  ZWE  2017     1582.366211 -29.038940
19875     Zimbabwe  ZWE  2018     1611.405151        NaN

[19876 rows x 5 columns]

In [225]:
df2 = df.groupby(by=['Code']) ['diffGDP'].agg('sum')
print(df2)

Code
AFG      445.000000
AGO      193.000000
ALB       26.000000
ARE    24031.000000
ARG    -8322.000000
           ...
VNM    -1466.966797
YEM      574.000000
ZAF     1899.225708
ZMB      -63.000000
ZWE     -494.405151
Name: diffGDP, Length: 169, dtype: float64

In [226]:
selection=df2.nlargest(50)

print(selection)

Code
QAT    48092.000000
KWT    40090.000000
ARE    24031.000000
LUX    11862.000000
LVA    11422.000000
KAZ    11116.000000
ARM     8980.000000
SVK     7881.000000
MDA     7875.000000
GEO     7629.000000
CZE     7395.000000
BLR     7385.000000
ISL     7234.000000
UZB     7052.000000
TKM     6314.000000
TJK     5851.000000
KGZ     5244.000000
TTO     4740.000000
RUS     4537.000000
AZE     3714.000000
MUS     3368.000000
NAM     3368.000000
LBR     2531.000000
BHR     2493.000000
DJI     2479.000000
HRV     2443.000000
CRI     2005.320007
PRY     1978.000000
GAB     1976.000000
ZAF     1899.225708
SYC     1730.000000
GTM     1508.000000
BIH     1405.000000
SVN     1219.000000
EST     1183.000000
DEU     1127.000000
MNE     1099.000000
NIC     1024.000000
MOZ     1003.000000
MDG     1000.000000
MLT      894.000000
HND      825.000000
MKD      766.000000
SLV      690.000000
BGR      583.000000
NLD      578.634644
YEM      574.000000
DOM      548.415039
JAM      519.159973
CAF      492.000000
Name: diffGDP, dtype: float64

In [227]:
import glob

In [228]:
folder_path= 'C:/Users/msanchis/Downloads'
file_list= glob.glob(folder_path + "/*(Normalized).csv" )
main_dataframe = pd.DataFrame (pd.read_csv(file_list[0], sep= ',', encoding = 'latin-1'))
main_dataframe

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
0,4,Algeria,23045,Agriculture research spending,6083,"Share of Value Added (Agriculture, Forestry an...",2009,2009,%,0.18,X,ASTI (Agricultural Science and Technology Indi...
1,4,Algeria,23045,Agriculture research spending,6083,"Share of Value Added (Agriculture, Forestry an...",2010,2010,%,0.18,X,ASTI (Agricultural Science and Technology Indi...
2,4,Algeria,23045,Agriculture research spending,6083,"Share of Value Added (Agriculture, Forestry an...",2011,2011,%,0.21,X,ASTI (Agricultural Science and Technology Indi...
3,4,Algeria,23045,Agriculture research spending,6083,"Share of Value Added (Agriculture, Forestry an...",2012,2012,%,0.21,X,ASTI (Agricultural Science and Technology Indi...
4,4,Algeria,23045,Agriculture research spending,6084,"Spending, total",2009,2009,million PPP (constant 2011 prices),76.90,X,ASTI (Agricultural Science and Technology Indi...
...,...,...,...,...,...,...,...,...,...,...,...,...
3089,181,Zimbabwe,23045,Agriculture research spending,6084,"Spending, total",2012,2012,million PPP (constant 2011 prices),35.80,X,ASTI (Agricultural Science and Technology Indi...
3090,181,Zimbabwe,23045,Agriculture research spending,6084,"Spending, total",2013,2013,million PPP (constant 2011 prices),46.30,X,ASTI (Agricultural Science and Technology Indi...
3091,181,Zimbabwe,23045,Agriculture research spending,6084,"Spending, total",2014,2014,million PPP (constant 2011 prices),44.20,X,ASTI (Agricultural Science and Technology Indi...
3092,181,Zimbabwe,23045,Agriculture research spending,6084,"Spending, total",2015,2015,million PPP (constant 2011 prices),42.90,X,ASTI (Agricultural Science and Technology Indi...
3093,181,Zimbabwe,23045,Agriculture research spending,6084,"Spending, total",2016,2016,million PPP (constant 2011 prices),41.60,X,ASTI (Agricultural Science and Technology Indi...

In [229]:
for i in range (1,15):
    data = pd.read_csv(file_list[i],sep=',', encoding='latin-1')
    df =pd.DataFrame(data)
    main_dataframe=pd.concat([main_dataframe, df], axis=1)

MemoryError: Unable to allocate 512. KiB for an array with shape (65536,) and data type int64